/* Secara Manuela */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #2d313a;
  z-index: 100;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #04aa6d;
  color: white;
}
